:root {
    --orange: #ff5945;
    --white: #FAFAFA;
    --black: #1A1A1A;
    --grey: #EDEEF0;
    --dark-grey: #999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--white);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* Side menu */

section.menu {
    width: 30%;
    height: 100%;
    padding-inline: 2%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: var(--orange);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: var(--white);
}

section.menu > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

section.menu > p {
    max-width: 300px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

section.menu > ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

section.menu > ul > li > a{
    width: 200px;
    padding-block: 8px;
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    background-color: var(--white);
    border-radius: 8px;
    text-decoration: none;
    color: var(--orange);
    font-weight: 600;
    transition: 0.5s;
}

section.menu > ul > li > a:hover {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

section.main {
    position: relative;
    left: 30%;
    top: 0;
    width: 70%;
    padding: 2%;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

section.main > h1 {
    color: var(--orange);
}

.list-container-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--white);
    border: 1px solid var(--orange);
    box-shadow: 0 4px 30px rgba(255, 89, 69, 0.2);
    color: var(--black);
    border-radius: 30px;
    margin-bottom: 50px;
}

.list-container-wrapper h1 {
    color: var(--orange);
}

.left-list-container, .right-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.left-list-container {
    border-right: 1px solid var(--orange);
}

.content-container {
    width: 100%;
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.content-container > .input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.content-container > .input-container > input {
    border: none;
    outline: none;
    background: var(--grey);
    padding: 10px 20px;
    border-radius: 30px;
}

.content-container > .input-container > button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 30px;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
    transition: 0.5s;
}

.content-container > .input-container > button:hover {
    border: 1px solid var(--orange);
    background-color: transparent;
    color: var(--orange);
}

.content-container > ul > li {
    font-weight: 500;
    font-size: 18px;
    padding: 12px 9px 12px 50px;
    list-style: none;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.content-container > ul > li::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 5px;
}

.content-container > ul > li.checked {
    color: var(--dark-grey);
    text-decoration: line-through;
}

.content-container > ul > li.checked::before {
    background-image: url(assets/checked.png);
}

.content-container > ul > li > span {
    position: absolute;
    right: -50px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: var(--dark-grey);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.content-container > ul > li > span:hover {
    background-color: var(--grey);
}

footer {
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    color: var(--orange);
    font-weight: 400;
}

footer > p > a {
    text-decoration: none;
    color: var(--orange);
    font-weight: 600;
}

footer > p > a:hover {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    transition: 0.5s;
}